
Assets/HolofairChat/Scenes/Login.unity.meta
Assets/HolofairChat/Scenes/Login.unity.meta
Assets/HolofairChat/Scripts/Login.cs
Assembly-CSharp.csproj
Assets/HolofairChat/Prefabs/ChatMessagePanel.prefab
Assets/HolofairChat/Prefabs/ChatMessagePanel.prefab.meta
Assets/HolofairChat/Prefabs/friends_ui.prefab
Assets/HolofairChat/Scenes/Holofair_SocialChat.unity
Assets/HolofairChat/Scripts/Chat_UIManager.cs
Assets/HolofairChat/Scripts/ChatFriends_UI.cs
Assets/HolofairChat/Scripts/ChatPanel.cs
Assets/HolofairChat/Scripts/Login.cs
Library/ArtifactDB
Library/PlayerDataCache/Win64/Data/globalgamemanagers
Library/PlayerDataCache/Win64/Data/globalgamemanagers.assets
Library/PlayerDataCache/Win64/Data/level0
Library/PlayerDataCache/Win64/Data/Managed/Assembly-CSharp.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.TextMeshPro.dll
Library/PlayerDataCache/Win64/Data/Managed/Unity.Timeline.dll
Library/PlayerDataCache/Win64/Data/Managed/UnityEngine.UI.dll
Library/PlayerDataCache/Win64/Data/sharedassets0.assets
Library/PlayerDataCache/Win64/ScriptsOnlyCache.yaml
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/SourceAssetDB
Library/StateCache/Hierarchy/143ff5-mainStage.json
*.cs
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/SourceAssetDB
